<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>



<body>

    <div class="container-fluid">
        <h1>Submit a combo</h1>
        <hr>
        
        <form action="/action_page.php">

            <label for="games">Select a game:</label>
            <br>
            <select id="games" name="games">
              <option value="Guilty Gear -Strive-">Guilty Gear -Strive-</option>
              <option value="Street Fighter V">Street Fighter V</option>
            </select>

            <br>
            <br>
            <label for="fname">Character name:</label><br>
            <input type="text" id="cname" name="cname"><br><br>

            <label for="fname">Combo:</label><br>
            <input type="text" id="combo" name="combo"><br><br>

            <label for="fname">Position:</label><br>
            <input type="text" id="position" name="position"><br><br>

            <label for="fname">Damage:</label><br>
            <input type="text" id="damage" name="damage"><br><br>

            <label for="fname">Meter:</label><br>
            <input type="text" id="meter" name="meter"><br><br>

            <label for="games">Difficulty:</label>
            <br>
            <select id="games" name="games">
              <option value="[1] Very Easy">[1] Very Easy</option>
              <option value="[2] Easy">[2] Easy</option>
              <option value="[3] Medium">[3] Medium</option>
              <option value="[4] Hard">[4] Hard</option>
              <option value="[5] Very Hard">[5] Very Hard</option>
            </select> 
            <br>
            <br>
            <label for="fname">Notes:</label><br>
            <input type="text" id="notes" name="notes"><br><br>


            <input type="submit" value="Submit">
          </form>
        


    </div>
    
    </body>
</body>
</html>